
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #fff;
}

header {
    background-color: #f00;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    border-bottom: 5px solid #ff0;
}

.logo {
    font-family: 'ð–‹ð–†ð–“ð–ˆð–ž ð–™ð–Šð–ð–™';
    font-size: 2em;
    color: #ff0;
}

nav ul {
    list-style-type: none;
    padding: 0;

}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 2em;
    margin: 1em;
    background-color: #000;
    border: 2px solid #f00;
    text-align: left;
}

.carro {
    width: 300px;
    height: auto;
    border: 2px solid #f00;
    text-align: center;
    "display: flex; justify-content: center; align-items: center;">

}

.carro img {
    width: 300px;
    height: auto;
    border: 2px solid #f00;
    text-align: left;
    
}

button {
    background-color: #f00;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
}

button:hover {
    background-color: #c00;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.logo1{
    align-items: right;
    justify-content: right;
    display: flex;
    margin-right: 20px;
    margin-top: -150px;
}


#p{
    display:flex;
    text-align: left;

}

section2 {

}

div-3{
    align-items: center;
    width: 300px;
    height: auto;
    border: 2px solid #f00;
    text-align: left
}




